<html lang='en'>

  <head>
    {{>head}}
    <title>Promo code</title>
  </head>

  <body>
    <div class='wrapper'>
      {{> admin/header}}
      <main class='page'>
        <section class='page__toolbar toolbar'>
          <ul class='toolbar__list'>
            <li class='toolbar__item'>
              <button
                type='button'
                class='btn'
                data-toggle='tooltip'
                data-placement='bottom'
                title='Save'
              >
                <span class='material-icons'>save</span>
              </button>
            </li>
            <li class='toolbar__item'>
              <button
                type='button'
                class='btn'
                data-toggle='tooltip'
                data-placement='bottom'
                title='Close'
              >
                <span class='material-icons'>close</span>
              </button>
            </li>
          </ul>
        </section>
        <section class='page__info-block info-block'>
          <div class='info-block__container __container'>
            <div class='order-info card'>
              <h3 class='card-header'>Add Promo Code</h3>
              <div class='card-body order-info-body'>
                <form>
                  <div class='form-row'>
                    <div class='form-group col-md-6'>
                      <label for='codeName'>Code:</label>
                      <input
                        type='text'
                        class='form-control'
                        id='codeName'
                        pattern='[a-zA-Z0-9]'
                        minlength='7'
                        maxlength='7'
                        required
                      />
                    </div>
                    <div class='form-group col-md-6'>
                      <label for='dicountAmount'>Discount amount (%):</label>
                      <input
                        type='number'
                        class='form-control'
                        id='dicountAmount'
                        min='1'
                        max='100'
                        requried
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
