<header class='header'>
  <div class='header__container'>
    <a href='#' class='__logo'>
      <img src='/img/logo.png' alt='Logo' />
    </a>
    <nav class='menu'>
      <ul class='menu__list'>
        <li class='menu__item'>
          <a href='/products' class='menu__link text-decoration-none'>Products</a>
        </li>
      </ul>
    </nav>
    <div class='__cart'>
      <span class='cart__items'>12</span>
      <a href='#'>
        <span class='material-icons'>shopping_cart</span>
      </a>
    </div>
  </div>
</header>
