<section class='page__table'>
  <div class='table__container __container'>
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>
            <input
              class='form-check-input'
              type='checkbox'
              title='Select all'
              value=''
            />
            <label
              class='form-check-label'
              for='flexCheckDefault'
            >Select</label>
          </th>
          <th scope='col'>Image</th>
          <th scope='col'>Product name</th>
          <th scope='col'>Vendor code</th>
          <th scope='col'>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope='row'>
            <input class='form-check-input' type='checkbox' value='' />
          </th>
          <td>
            <img
              src='/img/products/STRANDMON.png'
              alt='Product'
              class='img-thumbnail'
            />
          </td>
          <td class='col-pink'>STRANDMON</td>
          <td class='col-pantone_purple'>Ikea</td>
          <td class='price col-off_blue'>179</td>
        </tr>
        <tr>
          <th scope='row'>
            <input class='form-check-input' type='checkbox' value='' />
          </th>
          <td>
            <img
              src='/img/products/EKOLSUND.png'
              alt='Product'
              class='img-thumbnail'
            />
          </td>
          <td class='col-pink'>EKOLSUND</td>
          <td class='col-pantone_purple'>Ikea</td>
          <td class='price col-off_blue'>349</td>
        </tr>
        <tr>
          <th scope='row'>
            <input class='form-check-input' type='checkbox' value='' />
          </th>
          <td>
            <img
              src='/img/products/SÖDERHAMN.png'
              alt='Product'
              class='img-thumbnail'
            />
          </td>
          <td class='col-pink'>SÖDERHAMN</td>
          <td class='col-pantone_purple'>Ikea</td>
          <td class='price col-off_blue'>349</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
