/*----------------Variables---------------------------------------------------------------*/

:root {
  --purple: #7e33e0;
  --pink: #fb2e86;
  --red: #fa2546;
  --sky-blue: #f2f7ff;
  --pantone-purple: #e1d1f5;
  --off-blue: #2f1ac4;
  --off-purple: #a065b4;
}

/*----------------Defaults---------------------------------------------------------------*/

::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  line-height: 1;
  font-size: 36px;
  font-weight: 200;
  font-family: 'Josefin Sans', sans-serif !important;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  background-color: var(--pink) !important;
  color: #ffffff !important;
  border: none !important;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.__container {
  max-width: 1440px;
  margin: 0px auto;
}

.material-icons {
  font-size: 48px !important;
  color: var(--sky-blue) !important;
}

/*----------------Header---------------------------------------------------------------*/

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 5px 15px;
  background-color: var(--purple);
}

.header__container {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
}

.__logo {
  font-size: 36px;
  line-height: 110%;
  font-weight: 100;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 5px;
  color: #ffffff;
}

.menu {
  margin: auto;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.menu__item a:hover {
  color: var(--pink);
}

.menu__item:not(:last-child) {
  margin: 0px 252px 0px 0px;
}

.menu__link {
  font-size: 36px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 2px;
  color: #ffffff;
}

.__cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__items {
  background: var(--red);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------Page---------------------------------------------------------------*/

/* .page {
    flex: 1 1 auto;
} */

/*----------------Toolbar---------------------------------------------------------------*/

.page__toolbar {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 72px 0px 0px 0px;
  padding: 21px 0px 0px 0px;
  box-sizing: content-box;
}

.toolbar__list {
  display: flex;
  flex-wrap: wrap;
}

.toolbar__item:not(:last-child) {
  margin: 0px 38px 0px 0px;
}

/*----------------Pagination---------------------------------------------------------------*/

.page__pagination {
  display: flex;
  justify-content: center;
  padding: 21px 0px 0px 0px;
  box-sizing: content-box;
}

.page-link {
  color: #000000 !important;
}

.page-link:hover {
  color: var(--pink) !important;
}

/*----------------Table---------------------------------------------------------------*/

.col-pink {
  color: var(--pink);
}

.col-pantone_purple {
  color: var(--pantone-purple);
}

.col-off_blue {
  color: var(--off-blue);
}

.col-off_purple {
  color: var(--off-purple);
}

.price::before {
  content: '$';
}

td img:hover {
  transform: scale(2.1);
  transition: transform 500ms;
}

/*----------------Details---------------------------------------------------------------*/

.card-header {
  background-color: var(--purple) !important;
  color: #ffffff;
  text-align: center;
}

.card-body .card__title {
  color: var(--off-blue);
  font-size: 24px;
}

.card-body .card__value {
  color: var(--pink);
  font-size: 24px;
}

.order-info {
  margin-bottom: 34px;
}

.basic-info {
  display: flex;
  justify-content: space-between;
}

.basic-info div {
  flex-basis: 50%;
}

.amount_setting > button {
  background-color: var(--pink);
  color: #ffffff;
  font-weight: 400;
  font-size: 32px;
  line-height: 115.6%;
  text-align: center;
}

.amount_setting > button:first-child {
  border-radius: 10% 0% 0% 10%;
}

.amount_setting > button:last-child {
  border-radius: 0% 10% 10% 0%;
}

.amount_setting > input {
  border-top: 2px solid var(--pink);
  border-bottom: 2px solid var(--pink);
  border-left: none;
  border-right: none;
  text-align: center;
  color: var(--off-blue);
}

.promo-info {
  margin-bottom: 34px;
}

.promo-info .form-row {
  display: flex;
  align-items: flex-end;
}

.product-info .form-row > div:first-child {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.img-container {
  width: 300px !important;
  height: 300px !important;
  object-fit: contain;
}

.img-thumbnail {
  width: 200px !important;
  height: 200px !important;
  object-fit: contain;
}
