<header class='header'>
  <div class='header__container'>
    <a href='#' class='__logo'>
      <img src='/img/logo.png' alt='Logo' />
    </a>
    <nav class='menu'>
      <ul class='menu__list'>
        <li class='menu__item'>
          <a
            href='/admin/products'
            class='menu__link text-decoration-none'
          >Products</a>
        </li>
        <li class='menu__item'>
          <a
            href='/admin/orders'
            class='menu__link text-decoration-none'
          >Orders</a>
        </li>
        <li class='menu__item'>
          <a
            href='/admin/promos/new'
            class='menu__link text-decoration-none'
          >Promos</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
