<div
  class='modal fade'
  id='cancelModal'
  tabindex='-1'
  role='dialog'
  aria-labelledby='cancelModalLabel'
  aria-hidden='true'
  data-backdrop='static'
  data-keyboard='false'
>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='cancelModalLabel'>Warning</h5>
      </div>
      <div class='modal-body'>
        <span>Are you sure you want to leave without saving?</span>
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-dismiss='modal'
        >Stay</button>
        <a id='cancel' href='/admin/products' class='btn' title='Cancel'>
          <span>Leave</span>
        </a>
      </div>
    </div>
  </div>
</div>
