<html lang='en'>

  <head>
    {{>head}}
    <title>Cart</title>
  </head>

  <body>
    <div class='wrapper'>
      {{>header}}
      <main class='page'>
        <section class='page__toolbar toolbar'>
          <ul class='toolbar__list'>
            <li class='toolbar__item'>
              <button
                type='button'
                class='btn'
                data-toggle='tooltip'
                data-placement='bottom'
                title='Back'
              >
                <span class='material-icons'>arrow_back</span>
              </button>
            </li>
            <li class='toolbar__item'>
              <button
                type='button'
                class='btn'
                data-toggle='tooltip'
                data-placement='bottom'
                title='Submit'
              >
                <span class='material-icons'>check_circle_outline</span>
              </button>
            </li>
          </ul>
        </section>
        <section class='page__info-block info-block'>
          <div class='info-block__container __container'>
            <div class='order-info card'>
              <h3 class='card-header'>Order info</h3>
              <div class='card-body order-info-body'>
                <form>
                  <div class='form-row'>
                    <div class='form-group col-md-6'>
                      <label for='customerName'>Customer name:</label>
                      <input
                        type='text'
                        class='form-control'
                        id='customerName'
                      />
                    </div>
                    <div class='form-group col-md-6'>
                      <label for='customerEmail'>Customer email:</label>
                      <input
                        type='email'
                        class='form-control'
                        id='customerEmail'
                      />
                    </div>
                  </div>
                  <div class='form-row'>
                    <legend class='col-form-label col-sm-2 pt-0'>Delivery
                      method:</legend>
                    <div class='form-check form-check-inline'>
                      <input
                        class='form-check-input'
                        type='radio'
                        name='inlineRadioOptions'
                        id='selfPickup'
                        value='1'
                        checked
                      />
                      <label
                        class='form-check-label'
                        for='selfPickup'
                      >Self-pickup</label>
                    </div>
                    <div class='form-check form-check-inline'>
                      <input
                        class='form-check-input'
                        type='radio'
                        name='inlineRadioOptions'
                        id='deliveryAddress'
                        value='2'
                      />
                      <label
                        class='form-check-label'
                        for='deliveryAddress'
                      >Delivery address</label>
                    </div>
                  </div>
                  <div class='form-group'>
                    <input
                      type='text'
                      class='form-control'
                      id='inputAddress'
                      placeholder='1234 Main St'
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class='promo-block__container __container'>
            <div class='promo-info card'>
              <h3 class='card-header'>Promo code</h3>
              <div class='card-body order-promo-body'>
                <form>
                  <div class='form-row'>
                    <div class='form-group col-md-6'>
                      <label for='promoCode'>Promo code:</label>
                      <input type='text' class='form-control' id='promoCode' />
                    </div>
                    <div class='form-group col-md-6'>
                      <button class='btn'>Apply</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section class='page__info-block cart-block'>
          <div class='cart-block__container __container'>
            <div class='cart-info card'>
              <h3 class='card-header'>Cart info</h3>
              <div class='card-body'>
                <h5 class='card-title'>Your current total is
                  <span class='price'>333</span></h5>
                <table class='table'>
                  <thead>
                    <tr>
                      <th scope='col'>Product name</th>
                      <th scope='col'>Vendor code</th>
                      <th scope='col'>Amount</th>
                      <th scope='col'>Price per unit</th>
                      <th scope='col'>Total price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class='col-pink'>STRANDMON</td>
                      <td class='col-pantone_purple'>Ikea</td>
                      <td class='col-off_blue'>10</td>
                      <td class='price col-off_blue'>179</td>
                      <td class='price col-off_blue'>1790</td>
                    </tr>
                    <tr>
                      <td class='col-pink'>NOLMYRA</td>
                      <td class='col-pantone_purple'>Ikea</td>
                      <td class='col-off_blue'>10</td>
                      <td class='price col-off_blue'>40</td>
                      <td class='price col-off_blue'>400</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>

</html>
