<html lang='en'>

  <head>
    {{>head}}
    <title>Error</title>
  </head>

  <body>
    <div class='wrapper'>
      <header class='header'>
        <div class='header__container'>
          <a href='#' class='__logo'>
            <img src='/img/logo.png' alt='Logo' />
          </a>
        </div>
      </header>
      <main class='page'>
        <section class='page__toolbar toolbar'>
          <ul class='toolbar__list'>
            <li class='toolbar__item'>
              <a
                href='/products'
                type=' button'
                class='btn'
                data-toggle='tooltip'
                data-placement='bottom'
                title='Home'
              >
                <span class='material-icons'>home</span>
              </a>
            </li>
          </ul>
        </section>
        <section class='page__error error'>
          <div class='info-block__container __container'>
            <div class='order-info card text-center'>
              <h3 class='card-header'>{{status}}</h3>
              <div class='card-body order-info-body'>
                <span>Sorry, the order you are looking for was not found!</span>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>

</html>
