<html lang='en'>

  <head>
    {{>head}}
    <title>Order detail</title>
  </head>

  <body>
    <div class='wrapper'>
      {{> admin/header}}
      <main class='page'>
        <section class='page__toolbar toolbar'>
          <ul class='toolbar__list'>
            <li class='toolbar__item'>
              <button class='btn' title='Back'>
                <span class='material-icons'>arrow_back</span>
              </button>
            </li>
          </ul>
        </section>
        <section class='page__info-block info-block'>
          <div class='info-block__container __container'>
            <div class='order-info card'>
              <h3 class='card-header'>Order info</h3>
              <div class='card-body order-info-body'>
                <div class='basic-info'>
                  <div>
                    <span class='card-body__title card__title'>Order №:</span>
                    <p class='card-body__value card__value'>333</p>
                    <span class='card-body__title card__title'>Customer name:</span>
                    <p class='card-body__value card__value'>Anastasiya Sychova</p>
                  </div>
                  <div>
                    <span class='card-body__title card__title'>Total price:</span>
                    <p class='price card-body__value card__value'>2190</p>
                    <span class='card-body__title card__title'>Customer email:</span>
                    <p
                      class='card-body__value card__value'
                    >anastasiya.sychova@example.com</p>
                  </div>
                </div>
                <div>
                  <span class='card-body__title card__title'>Delivery method:</span>
                  <p class='card-body__value card__value'>1600 Amphitheatre
                    Parkway Mountain View, CA 94043, USA</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class='page__info-block cart-block'>
          <div class='cart-block__container __container'>
            <div class='cart-info card'>
              <h3 class='card-header'>Cart info</h3>
              <div class='card-body'>
                <table class='table'>
                  <thead>
                    <tr>
                      <th scope='col'>Product name</th>
                      <th scope='col'>Vendor code</th>
                      <th scope='col'>Amount</th>
                      <th scope='col'>Price per unit</th>
                      <th scope='col'>Total price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class='col-pink'>STRANDMON</td>
                      <td class='col-pantone_purple'>Ikea</td>
                      <td class='col-off_blue'>10</td>
                      <td class='price col-off_blue'>179</td>
                      <td class='price col-off_blue'>1790</td>
                    </tr>
                    <tr>
                      <td class='col-pink'>NOLMYRA</td>
                      <td class='col-pantone_purple'>Ikea</td>
                      <td class='col-off_blue'>10</td>
                      <td class='price col-off_blue'>40</td>
                      <td class='price col-off_blue'>400</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>

</html>
